@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bodyIndex {
  margin: 0;
  padding: 0;
  background-image: url(../assets/fondoindex1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

body {
  background-image: url(../assets/fondopagina2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: black; }

.navbar {
  background-color: #1c0a00ac; }
  .navbar a {
    color: white; }
  .navbar button {
    color: #361500c6;
    background-color: #cc9644; }

.mainIndex .contenidoIndex {
  height: 100vh; }
  .mainIndex .contenidoIndex h1 {
    font-family: 'Lobster', monospace;
    margin-top: 15%;
    color: white;
    font-size: 36px;
    align-items: center;
    padding: 3% 10% 3% 10%; }

.mainIndex .textoIndex {
  background-color: #361500c6;
  height: 90%;
  width: 100%;
  text-align: center;
  margin-bottom: 90px; }
  .mainIndex .textoIndex h2 {
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem; }
  .mainIndex .textoIndex p {
    padding-top: 2px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
    text-align: justify; }
  .mainIndex .textoIndex .carousel {
    margin-bottom: 20px; }
    .mainIndex .textoIndex .carousel .carousel-item img {
      width: 90%;
      /* Ancho del contenedor */
      height: 300px;
      /* Altura deseada */
      object-fit: cover;
      /* Ajusta la imagen para cubrir el contenedor manteniendo su proporción */
      padding-right: 15px;
      padding-left: 15px; }

.mainNosotros h1 {
  font-family: 'Playfair Display', serif;
  background-color: #361500c6;
  margin-bottom: 24px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px; }

.nuestraHistoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .nuestraHistoria div {
    background-color: #cc9644b0;
    height: 90%;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 45px; }
    .nuestraHistoria div img {
      height: 200px;
      width: 90%;
      margin-top: 20px;
      margin-bottom: 3vh; }
    .nuestraHistoria div p {
      color: white;
      font-size: 16px;
      text-align: justify;
      padding-left: 5%;
      padding-right: 5%; }

.nuestraHistoria2 {
  background-color: #361500c6;
  height: 90%;
  width: 100%;
  text-align: center;
  margin-bottom: 90px; }
  .nuestraHistoria2 p {
    padding-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 20px;
    color: white;
    font-size: 16px;
    text-align: justify; }
  .nuestraHistoria2 img {
    height: 200px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 3vh; }

.mainCafe .tituloCafe {
  text-align: center; }
  .mainCafe .tituloCafe h1 {
    font-family: 'Playfair Display', serif;
    background-color: #361500c6;
    margin-bottom: 24px;
    margin-top: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; }

.mainCafe .seccion1 {
  background-color: #cc9644b0; }
  .mainCafe .seccion1 .textoCafe1 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 3% 5% 3% 5%; }
  .mainCafe .seccion1 .fotoEstiloDeVida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px; }
    .mainCafe .seccion1 .fotoEstiloDeVida img {
      padding-top: 0;
      padding-bottom: 20px;
      height: 260px;
      width: 90%;
      object-fit: cover; }

.mainCafe .textoCafe2 {
  font-family: 'Roboto Slab', serif;
  background-color: #361500c6;
  margin-top: 0px;
  margin-bottom: 24px;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 3% 5% 3% 5%; }

.mainCafe .cafe {
  margin-top: 30px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "div1 div2 " "div3 div4 ";
  justify-content: center;
  row-gap: 20px;
  margin-bottom: 90px; }
  .mainCafe .cafe .cafeFoto1 {
    grid-area: div1;
    object-fit: cover; }
    .mainCafe .cafe .cafeFoto1 img {
      height: 100%;
      width: 100%; }
  .mainCafe .cafe .cafeFoto2 {
    grid-area: div4;
    object-fit: cover; }
    .mainCafe .cafe .cafeFoto2 img {
      height: 100%;
      width: 100%; }
  .mainCafe .cafe .cafeTexto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: div2;
    background-color: #cc9644b0; }
    .mainCafe .cafe .cafeTexto1 p {
      font-size: 10px;
      line-height: 200%;
      text-align: center;
      margin-left: 10px;
      margin-top: 10%;
      color: white; }
  .mainCafe .cafe .cafeTexto2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: div3;
    background-color: #cc9644b0; }
    .mainCafe .cafe .cafeTexto2 p {
      font-size: 10px;
      line-height: 200%;
      text-align: center;
      margin-top: 10%;
      margin-right: 10px;
      color: white; }

.mainContacto h1 {
  font-family: 'Playfair Display', serif;
  background-color: #361500c6;
  margin-bottom: 24px;
  margin-top: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }

.mainContacto .contacto {
  border-radius: 30px;
  background-color: #cc9644b0; }
  .mainContacto .contacto h2 {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px; }
  .mainContacto .contacto p {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 3% 5% 3% 5%; }
  .mainContacto .contacto .mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    padding-top: 0;
    padding-bottom: 20px; }

.mainContacto .mt-4 {
  font-family: 'Playfair Display', serif;
  background-color: #361500c6;
  margin-bottom: 24px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white; }

.mainContacto .container {
  background-color: #361500c6;
  padding: 30px;
  border-radius: 30px;
  background-color: #cc9644b0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .mainContacto .container form div label {
    color: #6c4023; }
  .mainContacto .container .btn-primary {
    background-color: #361500c6;
    background-color: #361500c6; }

.mainContacto .iconosCt {
  margin-top: 10%;
  padding-left: 30px;
  margin-bottom: 80px;
  background-color: #361500c6; }
  .mainContacto .iconosCt img {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: .625rem; }
  .mainContacto .iconosCt div {
    display: flex;
    gap: 10px; }
  .mainContacto .iconosCt p {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px; }

.mainMenu .tituloMenu h1 {
  font-family: 'Playfair Display', serif;
  background-color: #361500c6;
  margin-bottom: 24px;
  margin-top: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }

.mainMenu .Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; }
  .mainMenu .Menu .primeraColumnaMenu {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px; }
    .mainMenu .Menu .primeraColumnaMenu div {
      gap: 50px;
      display: flex;
      color: white;
      font-size: 15px;
      margin-bottom: 0px;
      align-items: center; }
      .mainMenu .Menu .primeraColumnaMenu div img {
        border-radius: 50%;
        height: 100px;
        width: 130px; }
      .mainMenu .Menu .primeraColumnaMenu div section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80px; }
        .mainMenu .Menu .primeraColumnaMenu div section p {
          margin-bottom: 0px;
          justify-content: center;
          text-align: center;
          font-size: 23px; }
        .mainMenu .Menu .primeraColumnaMenu div section button {
          background-color: #cc9644b0;
          padding: 0px 10px 0px 10px;
          width: 100%;
          color: white;
          border-radius: .625rem;
          font-size: 16px; }
  .mainMenu .Menu .segundaColumnaMenu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 70px; }
    .mainMenu .Menu .segundaColumnaMenu div {
      gap: 50px;
      display: flex;
      color: white;
      font-size: 15px;
      margin-bottom: 0px;
      align-items: center; }
      .mainMenu .Menu .segundaColumnaMenu div img {
        border-radius: 50%;
        height: 100px;
        width: 130px; }
      .mainMenu .Menu .segundaColumnaMenu div section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80px; }
        .mainMenu .Menu .segundaColumnaMenu div section p {
          margin-bottom: 0px;
          justify-content: center;
          text-align: center;
          font-size: 23px; }
        .mainMenu .Menu .segundaColumnaMenu div section button {
          background-color: #cc9644b0;
          padding: 0px 10px 0px 10px;
          width: 100%;
          color: white;
          border-radius: .625rem;
          font-size: 16px; }

footer {
  background-color: #1c0a00ac;
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  align-items: center;
  padding: 20px 20px;
  bottom: 0;
  position: fixed; }
  footer div {
    display: flex;
    align-items: center;
    padding-right: 15px;
    bottom: 0; }
    footer div img {
      height: 40px;
      width: 40px;
      background-color: white;
      border-radius: .625rem; }

@media (min-width: 768px) {
  .navbar img {
    height: 50px;
    width: 50px; }
  .navbar button {
    height: 60px; }
  .navbar a {
    font-size: 1.5rem; }
  .mainIndex .contenidoIndex h1 {
    font-size: 36px; }
  .mainIndex .textoIndex {
    height: 90%;
    width: 100%;
    margin-bottom: 110px; }
    .mainIndex .textoIndex h2 {
      padding-top: 40px;
      margin-bottom: 30px;
      font-size: 2.2rem; }
    .mainIndex .textoIndex .carousel {
      padding-bottom: 50px; }
      .mainIndex .textoIndex .carousel .carousel-item img {
        width: 70%;
        height: 500px;
        object-fit: cover;
        padding-right: 10%;
        padding-left: 10%; }
  .mainCafe .tituloCafe h1 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainCafe .seccion1 .textoCafe1 {
    font-size: 1.2rem;
    padding-left: 10%;
    padding-right: 10%; }
  .mainCafe .seccion1 .fotoEstiloDeVida img {
    height: 500px;
    width: 70%;
    margin-bottom: 30px; }
  .mainCafe .textoCafe2 {
    font-size: 1.2rem;
    padding-left: 10%;
    padding-right: 10%; }
  .mainCafe .cafe {
    margin-top: 30px;
    grid-template-columns: repeat(2, 40%);
    margin-bottom: 130px; }
    .mainCafe .cafe .cafeTexto1 p {
      font-size: 1rem;
      padding-left: 10%;
      padding-right: 10%; }
    .mainCafe .cafe .cafeTexto2 p {
      font-size: 1rem;
      padding-left: 10%;
      padding-right: 10%; }
  .mainNosotros h1 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainNosotros .nuestraHistoria div img {
    height: 400px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-top: 10%; }
  .mainNosotros .nuestraHistoria div p {
    font-size: 1.2rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%; }
  .mainNosotros .nuestraHistoria2 {
    height: 90%;
    width: 100%;
    text-align: center;
    margin-bottom: 90px; }
    .mainNosotros .nuestraHistoria2 p {
      font-size: 1.2rem;
      padding-top: 5%;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 5%; }
    .mainNosotros .nuestraHistoria2 img {
      height: 500px;
      width: 70%;
      margin-bottom: 10px; }
  .mainMenu .tituloMenu h1 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainMenu .Menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px; }
    .mainMenu .Menu .primeraColumnaMenu {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      gap: 50px; }
      .mainMenu .Menu .primeraColumnaMenu div {
        border-radius: 30px;
        background-color: #cc9644b4;
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 130px; }
        .mainMenu .Menu .primeraColumnaMenu div img {
          border-radius: 50%;
          height: 150px;
          width: 150px; }
        .mainMenu .Menu .primeraColumnaMenu div section {
          width: 15vh; }
          .mainMenu .Menu .primeraColumnaMenu div section p {
            padding-top: 10px;
            margin-bottom: 30px;
            font-size: 2.2rem; }
          .mainMenu .Menu .primeraColumnaMenu div section button {
            font-size: 1.2rem;
            padding-top: 5%;
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 5%; }
    .mainMenu .Menu .segundaColumnaMenu {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      gap: 50px; }
      .mainMenu .Menu .segundaColumnaMenu div {
        background-color: #cc9644b4;
        border-radius: 30px;
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 130px; }
        .mainMenu .Menu .segundaColumnaMenu div img {
          border-radius: 50%;
          height: 150px;
          width: 150px; }
        .mainMenu .Menu .segundaColumnaMenu div section {
          width: 15vh; }
          .mainMenu .Menu .segundaColumnaMenu div section p {
            padding-top: 10px;
            margin-bottom: 30px;
            font-size: 2.2rem; }
          .mainMenu .Menu .segundaColumnaMenu div section button {
            font-size: 1.2rem;
            padding-top: 5%;
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 5%; }
  .mainContacto h1 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainContacto .contacto h2 {
    padding-top: 40px;
    font-size: 2.2rem; }
  .mainContacto .contacto p {
    font-size: 1.2rem;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%; }
  .mainContacto .contacto .mapa {
    height: 500px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%; }
  .mainContacto .mt-4 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .mainContacto .iconosCt {
    margin-top: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    align-items: center; }
    .mainContacto .iconosCt img {
      height: 50px;
      width: 50px; }
    .mainContacto .iconosCt p {
      font-size: 20px; }
  footer {
    height: 75px; }
    footer div img {
      height: 40px;
      width: 40px; } }

@media (min-width: 1024px) {
  .navbar {
    height: 110px; }
    .navbar img {
      height: 70px;
      width: 70px; }
    .navbar a {
      font-size: 1.5rem; }
  .mainIndex .contenidoIndex h1 {
    font-size: 50px; }
  .mainIndex .textoIndex h2 {
    font-size: 3rem; }
  .mainIndex .textoIndex p {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 40px;
    color: white;
    font-size: 1.5rem; }
  .mainIndex .textoIndex .carousel .carousel-item img {
    height: 600px; }
  .mainCafe .tituloCafe h1 {
    font-size: 50px; }
  .mainCafe .seccion1 .textoCafe1 {
    font-size: 2rem;
    padding-left: 100px;
    padding-right: 100px; }
  .mainCafe .seccion1 .fotoEstiloDeVida img {
    height: 900px;
    width: 70%;
    margin-bottom: 30px; }
  .mainCafe .textoCafe2 {
    font-size: 2rem;
    padding-left: 100px;
    padding-right: 100px; }
  .mainCafe .cafe .cafeTexto1 p {
    font-size: 2rem;
    padding-left: 10%;
    padding-right: 10%; }
  .mainCafe .cafe .cafeTexto2 p {
    font-size: 2rem;
    padding-left: 10%;
    padding-right: 10%; }
  .mainNosotros h1 {
    font-size: 50px; }
  .mainNosotros .nuestraHistoria div img {
    height: 800px; }
  .mainNosotros .nuestraHistoria div p {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 40px;
    color: white;
    font-size: 1.5rem; }
  .mainNosotros .nuestraHistoria2 p {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 40px;
    color: white;
    font-size: 1.5rem; }
  .mainNosotros .nuestraHistoria2 img {
    height: 600px; }
  .mainContacto h1 {
    font-size: 50px; }
  .mainContacto .contacto h2 {
    font-size: 2.5rem; }
  .mainContacto .contacto p {
    font-size: 2rem;
    padding-bottom: 0%; }
  .mainContacto .contacto .mapa {
    height: 700px; }
  .mainContacto .iconosCt img {
    height: 60px;
    width: 60px; }
  .mainContacto .iconosCt p {
    font-size: 24px; }
  footer {
    height: 75px; }
    footer div img {
      height: 40px;
      width: 40px; } }

@media (min-width: 1180px) {
  .mainMenu .tituloMenu h1 {
    font-size: 50px; }
  .mainMenu .Menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 120px; }
    .mainMenu .Menu .primeraColumnaMenu {
      gap: 60px; }
      .mainMenu .Menu .primeraColumnaMenu div section p {
        font-size: 2.5rem; }
      .mainMenu .Menu .primeraColumnaMenu div section button {
        font-size: 1.4rem; }
    .mainMenu .Menu .segundaColumnaMenu {
      margin-bottom: 0px;
      gap: 3.75rem; }
      .mainMenu .Menu .segundaColumnaMenu div section p {
        font-size: 2.5rem; }
      .mainMenu .Menu .segundaColumnaMenu div section button {
        font-size: 1.4rem; } }
