footer
{
    background-color:$footerHeaderColor;
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    padding: 20px 20px;
    bottom: 0;
    position: fixed;
    div
    {
        display: flex;
        align-items: center;
        padding-right: 15px;
        bottom: 0;
        img
        {
            height:40px;
            width: 40px;
            background-color: white;
            border-radius: .625rem;
        }
    }
}