

.mainIndex
{
    .contenidoIndex
    {
        height: 100vh;
        h1
        {
            font-family: 'Lobster', monospace;            
            margin-top: 15%;
            color: map-get($colores ,colorTituloIndex);
            font-size: 36px;
            align-items: center;
            padding: 3% 10% 3% 10%;
        }
    }
    .textoIndex
    {
        background-color:$backgroudColor1;
        height: 90%;
        width: 100%;
        text-align: center;
        margin-bottom: 90px;
        h2
        {
            font-family: 'Playfair Display', serif;            
            margin-top: 30px;
            padding-top: 10px;
            padding-bottom: 5px;
            @include flex(column,center,center);
            color: map-get($colores ,colorTitulo);
            font-size: 2rem;    
        }
        p
        {
            padding-top: 2px;
            margin-left: 15px;
            margin-right: 15px;
            padding-bottom: 20px;
            color: map-get($colores ,colorTexto);
            font-size: 16px;
            text-align: justify;
        }
        .carousel
        {
            margin-bottom: 20px;
            .carousel-item 
            {
                    img 
                    {
                        width: 90%; /* Ancho del contenedor */
                        height: 300px; /* Altura deseada */
                        object-fit: cover; /* Ajusta la imagen para cubrir el contenedor manteniendo su proporción */
                        padding-right: 15px;
                        padding-left: 15px;
                    }
            }
        }
    }
}


.mainNosotros
{
    h1
    {
        font-family: 'Playfair Display', serif;            
        background-color:$backgroudColor1;
        margin-bottom: 24px;
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        @include flex(column,center,center);
        color: map-get($colores ,colorTitulo);
        font-size: 40px;
    }
}
.nuestraHistoria 
{
    @include flex(column,center,center);
    div 
    {
        background-color:$backgroudColor2;
        height: 90%;
        width: 100%;
        text-align: center;
        align-items: center;
        margin-bottom: 45px;
        img
        {
            height: 200px;
            width: 90%;
            margin-top: 20px;
            margin-bottom: 3vh;
        }
        p
        {
            color: map-get($colores ,colorTexto);
            font-size: 16px;
            text-align: justify;
            padding-left: 5%;
            padding-right: 5%;

        }
    }
}
.nuestraHistoria2
    {
        background-color:$backgroudColor1;
        height: 90%;
        width: 100%;
        text-align: center;
        margin-bottom: 90px;
        p
        {
            padding-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
            padding-bottom: 20px;
            color: map-get($colores ,colorTexto);       
            font-size: 16px;
            text-align: justify;
        }
        img
        {
            height:200px;
            width: 90%;
            margin-top: 5px;
            margin-bottom: 3vh;
        }
    }

.mainCafe
{
    .tituloCafe
    {
        text-align: center;
        h1 
        {
            font-family: 'Playfair Display', serif;            
            background-color:$backgroudColor1;
            margin-bottom: 24px;
            margin-top: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 40px;
            @include flex(column,center,center);
            color: map-get($colores ,colorTitulo);
        }
    }
    .seccion1
    {
        background-color:$backgroudColor2;
        .textoCafe1
        {
            font-family: 'Roboto Slab', serif;
            margin-bottom: 10px;
            color: map-get($colores ,colorTexto);
            font-size: 16px;
            text-align: center;           
            padding: 3% 5% 3% 5%;
        }
        .fotoEstiloDeVida
        {
            @include flex(column,center,center);
            margin-bottom: 24px;
            img
            {
            padding-top: 0;
            padding-bottom: 20px;
            height: 260px;
            width: 90%;
            object-fit: cover;
            }
        }
    }
    .textoCafe2
    {
        font-family: 'Roboto Slab', serif;
        background-color:$backgroudColor1;
        margin-top: 0px;
        margin-bottom: 24px;
        color: map-get($colores ,colorTexto);
        font-size: 16px;
        text-align: center;
        padding: 3% 5% 3% 5%;
    }
    .cafe
    {
        margin-top: 30px;
        display:grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 45%) ; 
        grid-template-rows: repeat(2,50%);
        grid-template-areas: 
        "div1 div2 "
        "div3 div4 "
        ;
        justify-content: center;
        row-gap: 20px;
        margin-bottom: 90px;
        .cafeFoto1 
        {
            grid-area: div1;
            object-fit: cover;
            img
            { 
                height: 100%;
                width: 100%;
            }
        }
        .cafeFoto2 
        {
            grid-area: div4;    
            object-fit: cover;
            img
            {   
                height: 100%;
                width: 100%;
            }
        }
        .cafeTexto1 
        {
            @include flex(column,center,center);
            grid-area: div2;
            background-color:$backgroudColor2;
            p
            {
                font-size: 10px;
                line-height: 200%;
                text-align:center;
                margin-left: 10px;
                margin-top: 10%;
                color: map-get($colores ,colorTexto);
            }
        }
        .cafeTexto2 
        {
            @include flex(column,center,center);
            grid-area: div3;
            background-color:$backgroudColor2;
            p
            {
                font-size: 10px;
                line-height: 200%;
                text-align:center;
                margin-top: 10%;
                margin-right: 10px;
                color: map-get($colores ,colorTexto);
            }   
        }
    }
}
    

.mainContacto
{
    h1 
    {
        font-family: 'Playfair Display', serif;            
        background-color:$backgroudColor1;
        margin-bottom: 24px;
        margin-top: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 40px;
        @include flex(column,center,center);
        color: map-get($colores ,colorTitulo);
    }
    .contacto 
    {
        border-radius: 30px;
        background-color:$backgroudColor2;
        h2
        {
            font-family: 'Roboto Slab', serif;
            color: map-get($colores ,colorTitulo);
            font-size: 30px;
            text-align: center;            
            margin-bottom: 0px;
        }
        p
        {
            font-family: 'Roboto Slab', serif;
            margin-bottom: 10px;
            color: map-get($colores ,colorTexto);
            font-size: 16px;
            text-align: center;           
            padding: 3% 5% 3% 5%;
        }
        .mapa
        {
            @include flex(column,center,center);
            height: 220px;
            padding-top: 0;
            padding-bottom: 20px;
        }
    }
    .mt-4 
        {
            font-family: 'Playfair Display', serif;            
            background-color:$backgroudColor1;
            margin-bottom: 24px;
            margin-top: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            @include flex(column,center,center);
            font-size: 32px;
            color: map-get($colores ,colorTexto);
        }
    .container 
    {
        background-color:$backgroudColor1;
        padding: 30px;
        border-radius: 30px;
        background-color:$backgroudColor2;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        form
        {
            div
            {
                label 
                {
                    color: #6c4023;
                }
            }
        }
        .btn-primary 
        {
            background-color:$backgroudColor1;
            background-color:$backgroudColor1;
        }
    }
    .iconosCt
    {
        margin-top: 10%;
        padding-left: 30px;
        margin-bottom: 80px;
        background-color:$backgroudColor1;
        img
        {
            height: 40px;
            width: 40px;
            background-color: map-get($colores ,colorTexto);
            border-radius: .625rem;
        }
        div 
        {
            display: flex;
            gap: 10px
        }
        p
        {
            color: map-get($colores ,colorTexto);
            font-size: 18px;
            text-align: center;
            margin-bottom: 0px;
        }
    }
}

.mainMenu
{
    .tituloMenu
    {
        h1 
        {
            font-family: 'Playfair Display', serif;            
            background-color:$backgroudColor1;
            margin-bottom: 24px;
            margin-top: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 40px;
            @include flex(column,center,center);
            color: map-get($colores ,colorTitulo);
        }
    }
    .Menu
    {
        @include flex(column,center,center);
        gap: 10px;
        .primeraColumnaMenu
        {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            div
            {
                gap:50px;
                display: flex;;
                color: map-get($colores ,colorTexto);
                font-size: 15px;
                margin-bottom: 0px;
                align-items: center;
                img
                {
                    border-radius: 50%;
                    height: 100px;
                    width: 130px;
                }
                section
                {
                    @include flex(column,center,center);
                    text-align: center;
                    width: 80px;
                    p
                    {
                        margin-bottom: 0px;
                        justify-content: center;
                        text-align: center;
                        font-size: 23px;
                    }
                    button
                    {
                        background-color:$backgroudColor2;
                        padding: 0px 10px 0px 10px;
                        width: 100%;
                        color: map-get($colores ,colorTexto);
                        border-radius: .625rem;
                        font-size: 16px;
                    }
                }
            }
        }
        .segundaColumnaMenu
        {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-bottom: 70px;
            div
            {
                gap:50px;
                display: flex;;
                color: map-get($colores ,colorTexto);
                font-size: 15px;
                margin-bottom: 0px;
                align-items: center;
                img
                {
                    border-radius: 50%;
                    height: 100px;
                    width: 130px;
                }
                section
                {
                    @include flex(column,center,center);
                    text-align: center;
                    width: 80px;
                    p
                    {
                        margin-bottom: 0px;
                        justify-content: center;
                        text-align: center;
                        font-size: 23px;
                    }
                    button
                    {
                        background-color:$backgroudColor2;
                        padding: 0px 10px 0px 10px;
                        width: 100%;
                        color: map-get($colores ,colorTexto);
                        border-radius: .625rem;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}