.mainIndex
{
    .contenidoIndex
    {
        h1
        {
            margin-top: 20%;
            color: map-get($colores ,colorTituloIndex);
            font-size: 25px;
            align-items: center;
            padding: 3% 10% 3% 10%;
        }
    }
}

.nuestraHistoria 
{
    @include flex(column,center,center);
    text-align: center;
    padding-bottom: 60px;
    h1
        {
            background-color:$backgroudColor ;
            border-radius: 40px;
            margin-top: 5%;
            margin-bottom: 7%;
            color: map-get($colores ,colorTitulo);
            font-size: 20px;
            align-items: center;
            padding: 3% 5% 3% 5%;
            text-align: center;
        }
    div 
    {
        background-color:$backgroudColor;
        border-radius: 40px;
        height: 60vh;
        width: 40vh;
        text-align: center;
        padding: 20px;
        img
        {
            height: 117px;
            width: 179px;
            border-radius: 40px;
            margin-top: 10%;
            margin-bottom: 3vh;
        }
        p
        {
            color: map-get($colores ,colorTexto);
            font-size: 1ch;
            text-align: justify;
            display: inline-block;
        }
    }
}

.mainCafe
{
    .tituloCafe
    {
        text-align: center;
        h1
        {
            background-color:$backgroudColor ;
            border-radius: 40px;
            margin-top: 5%;
            margin-bottom: 7%;
            color: map-get($colores ,colorTitulo);
            font-size: 20px;
            align-items: center;
            padding: 3% 5% 3% 5%;
        }
    }
    .cafe
    {
        margin-top: 5%;
        display:grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2, 150px) ; 
        grid-template-rows: repeat(2,163px);
        grid-template-areas: 
        "div1 div2 "
        "div3 div4 "
        ;
        justify-content: center;
        align-content: center;
        column-gap: 5%;
        row-gap: 5%;
        .cafeFoto1 
        {
            grid-area: div1;
            border-radius: 40px;
            object-fit: cover;
            img
            { 
                border-radius: 40px;
                height: 100%;
                width: 100%;
            }
        }
        .cafeFoto2 
        {
            grid-area: div4;    
            border-radius: 40px;
            object-fit: cover;
            img
            {   
                border-radius: 40px;
                height: 100%;
                width: 100%;
            }
        }
        .cafeTexto1 
        {
            grid-area: div2;
            background-color: $backgroudColor;
            border-radius: 40px;
            p
            {
                font-size: 1ch;
                line-height: 200%;
                text-align:left;
                margin-top: 10%;
                margin-left: 10%;
                color: map-get($colores ,colorTexto);
            }
        }
        .cafeTexto2 
        {
            grid-area: div3;
            background-color: $backgroudColor;
            border-radius: 40px;
            p
            {
                font-size: 1ch;
                line-height: 200%;
                text-align:left;
                margin-top: 10%;
                margin-left: 10%;
                color: map-get($colores ,colorTexto);
            }   
        }
    }
}

.mainContacto
{
    .contacto 
    {
        @include flex(column,center,center);
        text-align:left;
        h1 
        {
            font-family: 'Playfair Display', serif;            background-color: #361500c6;
            margin-bottom: 24px;
            margin-top: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            color: map-get($colores ,colorTexto);
        }
        p
        {
            font-family: 'Roboto Slab', serif;
            background-color: #cc9644c7;
            border-radius: 30px;
            margin-top: 0px;
            margin-bottom: 24px;
            color: map-get($colores ,colorTexto);
            font-size: 13px;
            align-items: center;
            padding: 3% 5% 3% 5%;
        }
        .mapa
        {
            height: 180px;
            width: 80%;
            padding-top: 0;
        }
    }
    h1 
        {
            font-family: 'Playfair Display', serif;            background-color: #361500c6;
            margin-bottom: 24px;
            margin-top: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            color: map-get($colores ,colorTexto);
        }
    .container 
    {
        background-color: #361500b4;
        border-radius: 30px;
        padding: 30px;
        background-color: #cc9644c7;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        form
        {
            div
            {
                label 
                {
                    color: #6c4023;
                }
            }
        }
        .btn-primary 
        {
            background-color: #6c4023;
            border-color: #6c4023;
        }
    }
    .iconosCt
    {
        margin-top: 10%;
        padding-left: 30px;
        margin-bottom: 80px;
        background-color: #361500c6;
        border-radius: 30px;
        img
        {
            height: 23px;
            width: 26px;
            background-color: map-get($colores ,colorTexto);
            border-radius: .625rem;
        }
        div 
        {
            display: flex;
            gap: 10px
        }
        p
        {
            color: map-get($colores ,colorTexto);
            font-size: 15px;
            text-align: center;
            margin-bottom: 0px;
        }
    }
}

.mainMenu
{
    .tituloMenu
    {
        h1
        {
            border-radius: 40px;
            margin-top:0px;
            margin-bottom: 0px;
            color: map-get($colores ,colorTexto);
            font-size: 13px;
            align-items: center;
            text-align: center;
            padding: 3% 5% 3% 5%;
        }
    }
    .Menu
    {
        @include flex(column,center,center);
        gap: 10px;
        .primeraColumnaMenu
        {
            display: flex;
            flex-direction: column;
            gap: 10px;
            div
            {
                gap:40px;
                display: flex;;
                color: map-get($colores ,colorTexto);
                font-size: 15px;
                margin-bottom: 0px;
                align-items: center;
                img
                {
                    border-radius: 50%;
                    height: 43px;
                    width: 63px;
                    object-fit: cover;
                }
                section
                {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    padding: 5% 5% 5% 5%;
                    p
                    {
                        margin-bottom: 0px;
                        justify-content: center;
                        text-align: center;
                    }
                    button
                    {
                        background-color:#CC9544;
                        padding: 0px 10px 0px 10px;
                        width: 56px;
                        color: map-get($colores ,colorTexto);
                        border-radius: .625rem;
                        font-size: 8px;
                    }
                }
            }
        }
        .segundaColumnaMenu
        {
            display: flex;
            flex-direction: column;
            gap: 10px;
            div
            {
                gap:40px;
                display: flex;;
                color: map-get($colores ,colorTexto);
                font-size: 15px;
                margin-bottom: 0px;
                align-items: center;
                img
                {
                    border-radius: 50%;
                    height: 43px;
                    width: 63px;
                    object-fit: cover;
                }
                section
                {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    padding: 5% 5% 5% 5%;
                    p
                    {
                        margin-bottom: 0px;
                        justify-content: center;
                        text-align: center;
                    }
                    button
                    {
                        background-color:#CC9544;
                        padding: 0px 10px 0px 10px;
                        width: 56px;
                        color: map-get($colores ,colorTexto);
                        border-radius: .625rem;
                        font-size: 8px;
                    }
                }
            }
        }
    }
}