*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyIndex {
    margin: 0;
    padding: 0;
    background-image: url(../assets/photo-1579546937949-2f37293c1ea3.jpg);
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}
body
{
    background-image: url(../assets/photo-1551610290-e153ec567dd8.jpg);
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}