*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyIndex {
    margin: 0;
    padding: 0;
    background-image: url(../assets/fondoindex1.jpg);
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
}
body
{
    background-image: url(../assets/fondopagina2.jpg);
    background-size: cover ;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}