@media (min-width: 768px)
{

    .navbar{
        img
        {
            height: 50px;
            width: 50px;
        }
        button
        {
            height: 60px;
        }
        a
        {
            font-size: 1.5rem;
        }
    }

    .mainIndex
    {
        .contenidoIndex
        {
            h1
            {
                font-size: 36px;
            }
        }
        .textoIndex
        {
            height: 90%;
            width: 100%;
            margin-bottom: 110px;
            h2
            {
                padding-top: 40px;
                margin-bottom: 30px;
                font-size: 2.2rem;
            }    
            .carousel
            {
                padding-bottom: 50px;
                .carousel-item 
                {
                        img 
                        {
                            width: 70%; 
                            height: 500px; 
                            object-fit: cover; 
                            padding-right: 10%;
                            padding-left: 10%;
                        }
                }
            }
        }
    }

    .mainCafe
    {
        .tituloCafe
        {
            h1 
            {
                padding-top: 20px;
                padding-bottom: 20px;            
            }
        }
        .seccion1
        {
            .textoCafe1
            {
                font-size: 1.2rem;
                padding-left: 10%;
                padding-right: 10%;
            }
            .fotoEstiloDeVida
            {
                img
                {
                    height: 500px;
                    width: 70%;
                    margin-bottom: 30px;
                }
            }
        }
        .textoCafe2
        {
            font-size: 1.2rem;
            padding-left: 10%;
            padding-right: 10%;
        }
        .cafe
        {
            margin-top: 30px;
            grid-template-columns: repeat(2, 40%) ; 
            margin-bottom: 130px;
            .cafeTexto1 
            {
                p
                {
                    font-size: 1rem;
                    padding-left: 10%;
                    padding-right: 10%;
                }
            }
            .cafeTexto2 
            {
                p
                {
                    font-size: 1rem;
                    padding-left: 10%;
                    padding-right: 10%;
                }   
            }
        }
    }

    .mainNosotros
    {
        h1
        {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .nuestraHistoria 
        {
            div 
            {
                img
                {
                    height: 400px;
                    width: 70%;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    margin-top: 10%;
                }
                p
                {         
                    font-size: 1.2rem;
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-bottom: 5%;
                }
            }
        }
        .nuestraHistoria2
        {
            height: 90%;
            width: 100%;
            text-align: center;
            margin-bottom: 90px;
            p
            {
                font-size: 1.2rem;
                padding-top: 5%;
                padding-left: 10%;
                padding-right: 10%;
                padding-bottom: 5%;
            }
            img
            {
                height: 500px;
                width: 70%;
                margin-bottom: 10px;
            }
        }
    }


    .mainMenu
    {
        .tituloMenu
        {
            h1 
            {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        .Menu
        {
            @include flex(column,center,center);
            gap: 30px;
            margin-bottom: 70px;
            .primeraColumnaMenu
            {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                gap: 50px;
                div
                {
                    border-radius: 30px;
                    background-color: #cc9644b4;
                    padding-right: 60px;
                    padding-left: 60px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    gap:130px;
                    img
                    {
                        border-radius: 50%;
                        height: 150px;
                        width: 150px;
                    }
                    section
                    {
                        width:15vh;
                        p
                        {
                            padding-top: 10px;
                            margin-bottom: 30px;
                            font-size: 2.2rem;
                        }
                        button
                        {
                            font-size: 1.2rem;
                            padding-top: 5%;
                            padding-left: 10%;
                            padding-right: 10%;
                            padding-bottom: 5%;
                        }
                    }
                }
            }
            .segundaColumnaMenu
            {
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                gap: 50px;
                div
                {
                    background-color: #cc9644b4;
                    border-radius: 30px;
                    padding-right: 60px;
                    padding-left: 60px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    gap:130px;
                    img
                    {
                        border-radius: 50%;
                        height: 150px;
                        width: 150px;
                    }
                    section
                    {
                        width:15vh;
                        p
                        {
                            padding-top: 10px;
                            margin-bottom: 30px;
                            font-size: 2.2rem;
                        }
                        button
                        {
                            font-size: 1.2rem;
                            padding-top: 5%;
                            padding-left: 10%;
                            padding-right: 10%;
                            padding-bottom: 5%;
                        }
                    }
                }
            }
        }
    }



    
    .mainContacto
    {
        h1 
        {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .contacto 
        {
            h2
            {
                padding-top: 40px;
                font-size: 2.2rem;
            }
            p
            {
                font-size: 1.2rem;
                padding-top: 5%;
                padding-left: 10%;
                padding-right: 10%;
                padding-bottom: 5%;
            }
            .mapa
            {
                height: 500px; 
                padding-right: 10%;
                padding-left: 10%;
                padding-bottom: 10%;
            }
        }
        .mt-4 
            {
                font-size: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        .iconosCt
        {
            margin-top: 5%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 100px;
            align-items: center;
            img
            {
                height: 50px;
                width: 50px;
            }
            p
            {
                font-size: 20px;
            }
        }
    }

    footer{
    height: 75px;
    div
    {
        
        img
        {
            height:40px;
            width: 40px;
        }
    }
}

}